<tr>
  <th scope="row">{{id}}</th>
  <td><img src="{{img}}"></td>
  <td>{{name}}</td>
  <td>{{experience}}</td>
  <td>{{speciality}}</td>
  <td class="text-success font-weight-bold">{{status}}</td>
</tr>